.crypto__header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 99;
  background: var(--bg-color);
  border-right-width: 3px;
  height: 100%;
  padding: 0.5rem;
}
.crypto__header .logo {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 2rem;
  align-items: center;
  width: 50%;
}
.crypto__header img {
  object-fit: cover;
  margin: 1rem 0;
  border: 1rem solid transparent;
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  box-shadow: var(--box-shadow);
}
.crypto__header h3 {
  color: var(--black);
  font-size: 1.5rem;
  margin-left: 1rem;
}
.crypto__header .crypto__navbar {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1rem;
}
.crypto__header .crypto__navbar a {
  display: block;
  margin: 1.5rem 0;
  padding: 0.7rem 1.5rem;
  border-radius: 10px;
  font-size: 2rem;
  text-align: center;
  box-shadow: var(--box-shadow);
  color: var(--black);
}
.crypto__navbar a:hover {
  box-shadow: var(--box-shadow-inset);
}
.menu-btn {
  position: fixed;
  top: 1.5rem;
  left: 2rem;
  z-index: 100;
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  color: var(--black);
  box-shadow: var(--box-shadow);
  display: none;
}
.menu-btn:hover {
  color: var(--green);
  box-shadow: var(--box-shadow-inset);
}
.crypto__header .theme__toggler {
  z-index: 100;
  height: 5rem;
  width: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 5rem;
  border-radius: 50%;
  font-size: 2rem;
  cursor: pointer;
  text-align: center;
  color: var(--black);
  box-shadow: var(--box-shadow);
}

@media screen and (max-width: 991px) {
  .crypto__header {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: 0;
    left: -110%;
    z-index: 99;
    background: var(--bg-color);
    width: 30rem;
    border-right: var(--border);
    border-right-width: 3px;
    height: 100%;
    padding: 2rem;
  }
  .crypto__header .logo {
    justify-content: center;
    flex-direction: column;
    margin-left: 0;
    align-items: center;
    width: 100%;
  }
  .crypto__header img {
    object-fit: cover;
    margin: 1rem 0;
    border: 1rem solid transparent;
    border-radius: 50%;
    height: 8rem;
    width: 8rem;
    box-shadow: var(--box-shadow);
  }
  .crypto__header h3 {
    color: var(--black);
    font-size: 2.5rem;
  }
  .crypto__header .crypto__navbar {
    padding-top: 1rem;
    flex-direction: column;
  }
  .crypto__header .crypto__navbar a {
    width: 80%;
    display: block;
    margin: 1.5rem 0;
    border-radius: 10px;
    font-size: 2rem;
    text-align: center;
    box-shadow: var(--box-shadow);
    color: var(--black);
  }
  .crypto__navbar a:hover {
    box-shadow: var(--box-shadow-inset);
  }

  .crypto__header .theme__toggler {
    position: fixed;
    background: var(--bg-color);
    top: 1.5rem;
    right: 2rem;
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    color: var(--black);
    box-shadow: var(--box-shadow);
  }
  .menu-btn {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 1.5rem;
    left: 2rem;
    z-index: 100;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    border-radius: 50%;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    color: var(--black);
    box-shadow: var(--box-shadow);
    background: var(--bg-color);
  }
  .menu-btn:hover {
    color: var(--green);
    box-shadow: var(--box-shadow-inset);
  }

  .crypto__header.active {
    left: 0;
    transition: 0.4s linear;
  }
}
@media screen and (max-width: 450px) {
  .crypto__header {
    width: 100%;
  }
  .crypto__header .crypto__navbar a {
    width: 70%;
  }
}
