.coinInfoContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    color: var(--black);
}

.selectButton{
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
    background-color: var(--bg-color);
    color: var(--black);
    box-shadow: var(--box-shadow);
    font-weight: 500;
    width: 22%;
}

.selectedButton{
    border-radius: 5%;
    padding: 10px;
    cursor: pointer;
    width: 22%;
    color: var(--black);
    font-weight: 700;
    box-shadow: var(--box-shadow-inset);
}


.selectButton:hover{
    box-shadow: var(--box-shadow-inset);
    color: var(--black);
}
@media screen and (max-width: 1000px){
    .coinInfoContainer{
        width: 100%;
        margin-top: 0;
        padding: 20px;
        padding-top: 0;
    }
}